<% include partials/header %>

<div class="container" id="home">
	<header class="jumbotron">
		<h2>SELECT TABLE TO WORK ON</h2>
	</header>
	
	<div class="row">
		<div class="home">
			<div class="form-group">
				<a href="/add_cus" class="btn btn-primary form-control space">Customer</a>
			</div>
			<div class="form-group">
				<a href="/add_mac" class="btn btn-success form-control space">Machine</a>
			</div>
			<div class="form-group">
				<a href="/add_rep" class="btn btn-warning form-control space">Report</a>
			</div>
			<div class="form-group">
				<a href="/all" class="btn btn-info form-control space">General Info</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>


