<% include partials/header %>
<div class="container">
    <div class="row">
        <h2>Sign Up</h2>
    </div>
    <div class="form-style centL">
		<form action="/register" method="POST"> 
			<div class="form-group">
				<label for="fname">First Name</label>
				<input class="form-control" type="text" name="fname" placeholder="First Name" required="required">
			</div>
			<div class="form-group">
				<label for="lname">Last Name</label>
				<input class="form-control" type="text" name="lname" placeholder="Last Name" required="required">
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" name="username" placeholder="Username" required="required">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" placeholder="Email Address" required="required">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				<label for="adminCode">Designation Code</label>
				<input class="form-control" type="password" name="adminCode" placeholder="Admin" required="required">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Submit</button>
			</div>
		</form>
    </div>
    
</div>
<!-- The Number Code will determine what the level of access will be. Admin has a code, staff will also have a code -->

<% include partials/footer %>