<% include ../partials/header %>

<div class="container ser-div">
	<h1> <%= hospital%> </h1>
	<table class="table table-hover" id="tbl">
		<tr id="table-head">
			<th>DEVICE TYPE</th>
			<th>SERIAL NUMBER</th>
		</tr>
		<% machines.forEach(function(machine){ %>
		<tr id="table-data">
			<td class="deviceT"><a href="#"> <%= machine.device_type %> </a></td>
			<td class="serialN"><a href="#" id="srno"> <%= machine.serial_no %> </a></td>
		</tr>
		<% }) %>
	</table>

<a href="/search" class="btn btn-warning">Back</a>
</div>
<% include ../partials/footer %>