<% include ../partials/header %>

<div class="container posit">
	<div class="centS">
		<form method="GET" action="/search_results" class="form-inline">
		  <div class="form-group">
			<label class="sr-only" for="search">Search</label>
			<input type="search" class="form-control sear-sty" name="search" id="search" placeholder="Type here...">
		  </div>
		  <button type="submit" class="btn btn-primary sear-sty">Search</button>
		</form>
	</div>
</div>

<% include ../partials/footer %>